<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


    <h:body>

        <ui:composition template="./../Template/Plantilla.xhtml">

            <ui:define name="content">

                <div id="formulario">
                    <h:form>
                        <p:panel id="basic" header="Ingreso Nombre Parroquia: " footer="" style="margin-bottom:20px">
                            <h:panelGrid columns="6" cellpadding="5">

                                <p:outputLabel value="Dirección" for="txtDireccion" />
                                <p:inputText id="txtDireccion" placeholder="Ingrese Direccion"/>

                                <p:outputLabel value="Telefono 1" for="txtTelefono1" />
                                <p:inputText id="txtTelefono1" placeholder="Ingrese No Telefono"/>
                                
                                <p:outputLabel value="Telefono 2" for="txtTelefono2" />
                                <p:inputText id="txtTelefono2" placeholder="Ingrese No Telefono"/>
                                
                                <p:button id="Guardar" value="Guardar"/>
                            </h:panelGrid>
                        </p:panel>
                    </h:form>
                </div>
            </ui:define>

        </ui:composition>

    </h:body>
</html>
