<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


    <body>

        <ui:composition template="./../Template/Plantilla.xhtml">

            <ui:define name="content">

                <div id="formulario">
                    <h:form>
                        <p:panel id="basic" header="Ingreso de datos Personales" footer="" style="margin-bottom:20px">
                            <h:panelGrid columns="6" cellpadding="5">
                                <p:outputLabel value="Primer Nombre" for="txtNombre1" />
                                <p:inputText id="txtNombre1" value="#{autoCompleteView.txt1}" placeholder="Ingrese Primer Nombre"/>
                                <p:outputLabel value="Segundo Nombre" for="txtNombre2" />
                                <p:inputText id="txtNombre2" placeholder="Ingrese Segundo Nombre"/>
                                <p:outputLabel value="Tercer Nombre" for="txtNombre3" />
                                <p:inputText id="txtNombre3" placeholder="Ingrese Tercer Nombre"/>
                                <p:outputLabel value="Primer Apellido" for="txtApellido1" />
                                <p:inputText id="txtApellido1" placeholder="Ingrese Primer Apellido"/>
                                <p:outputLabel value="Segundo Apellido" for="txtApellido2" />
                                <p:inputText id="txtApellido2" placeholder="Ingrese Segundo Apellido"/>

                                <p:outputLabel value="Apellido de Casada" for="txtApellidoCasada" />
                                <p:inputText id="txtApellidoCasada" placeholder="Ingrese Apellido de Casada"/>
                                <p:outputLabel value="Fecha de Nacimiento" for="fechaNac" />
                                <p:calendar id="fechaNac" value="#{calendarView.date2}" />
                                <p:outputLabel value="Numero de CUI" for="txtCui" />
                                <p:inputText id="txtCui" placeholder="Ingrese CUI"/>
                                <p:outputLabel value="Folio" for="txtFolio" />
                                <p:inputText id="txtFolio" placeholder="Ingrese Folio"/>
                                <p:outputLabel value="Libro" for="txtLibro" />
                                <p:inputText id="txtLibro" placeholder="Ingrese Libro"/>
                                <p:outputLabel value="Partida" for="txtPartida" />
                                <p:inputText id="txtPartida" placeholder="Ingrese Partida"/>
                                <p:outputLabel value="Sexo"/>
                                <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
                                    <p:selectOneRadio id="sexo" value="#{radioView.sexo}">
                                        <f:selectItem itemLabel="Masculino" itemValue="masculino" />
                                        <f:selectItem itemLabel="Femenino" itemValue="femenino" />
                                    </p:selectOneRadio>
                                </h:panelGrid>

                                <p:outputLabel value="Nombres Padre" for="txtNomPadre" />
                                <p:inputText id="txtNomPadre" placeholder="Ingrese Nombres de Padre"/>
                                <p:outputLabel value="Apellidos Padre" for="txtApePadre" />
                                <p:inputText id="txtApePadre" placeholder="Ingrese Apellidos de Padre"/>
                                <p:outputLabel value="Numero DPI Padre" for="txtDpiPadre" />
                                <p:inputText id="txtDpiPadre" placeholder="Ingrese DPI del Padre"/>
                                <p:outputLabel value="Nombres Madre" for="txtNomMadre" />
                                <p:inputText id="txtNomMadre" placeholder="Ingrese Nombres de la Madre"/>
                                <p:outputLabel value="Apellidos Madre" for="txtApeMadre" />
                                <p:inputText id="txtApeMadre" placeholder="Ingrese Apellidos de la Madre"/>
                                <p:outputLabel value="Numero DPI Madre" for="txtDpiMadre" />
                                <p:inputText id="txtDpiMadre" placeholder="Ingrese DPI de la Madre"/>


                                <p:button id="Guardar" value="Guardar"/>
                            </h:panelGrid>
                        </p:panel>
                    </h:form>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
