<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

        <title>I.D.V.M</title>
   
    
     <h:form>            
 
 
    <p:growl id="growl" sticky="true" showDetail="true" life="3000" />
 
    <p:dialog header="Registrarse" style="align-content: center;font-size: 25px;font-family: cursive">
    <p:outputLabel value="I.D.V.M."   style="align-content: center;font-size: 20px;font-family: cursive"/>
        <br>
        </br>
        <center>
            <h:panelGrid columns="2" cellpadding="7" style="align-content: center;font-size: 18px;font-family: cursive;border:1px solid black;background-color: #a3d5d3; " >
                
                <h:outputLabel for="username" value="Usuario:" />
                <p:inputText id="username"  required="true" label="username" />             
                <h:outputLabel for="password" value="Contraseña:" />
                <p:password id="password" required="true" label="password" />
                <br>
                </br>
                <center>
                    
                    <center><h:link outcome="/Template/Plantilla" value="Ingresar "/></center>
                </center>   
            </h:panelGrid>
         </center>
    </p:dialog>
</h:form>
 
<script type="text/javascript">
    function handleindexMRequest() {
 
    }
</script>
    <style>
        body {
          /*background-color: #a3d5d3;*/
          text-align: center;
          padding-top: 30px;
          background-image: url("img/paisaje.jpg");
          
        }
        
     /*   table{
          background-color: antiquewhite;  
          padding-right:  50px;
          
        }*/

     titulo{
         font-size: 30px;
         font-family: cursive;
     }
    </style>
       
</html>

